<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="ECharts">
    <meta name="author" content="kener.linfeng@gmail.com">
    <title>ECharts · Example</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">


<script src="{{ url_for('static', filename='js/echarts.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery-3.1.1.min.js') }}"></script>
</head>

<body>




    <div id="chart" class="chart" style="height: 530px;"></div>

	<script type="text/javascript">
        // 基于准备好的dom，初始化echarts图表
        var myChart = echarts.init(document.getElementById('chart'));

      // 从 Flask 传递过来的省份地图数据 URL  <-- 重要!
        var provinces = {{ provinces | tojson }};
        var chinaMapUrl = "{{ china_map_url }}";

        //各省份的数据
        var allData = [{
            name: '北京'
        }, {
            name: '天津'
        }, {
            name: '上海'
        }, {
            name: '重庆'
        }, {
            name: '河北'
        }, {
            name: '河南'
        }, {
            name: '云南'
        }, {
            name: '辽宁'
        }, {
            name: '黑龙江'
        }, {
            name: '湖南'
        }, {
            name: '安徽'
        }, {
            name: '山东'
        }, {
            name: '新疆'
        }, {
            name: '江苏'
        }, {
            name: '浙江'
        }, {
            name: '江西'
        }, {
            name: '湖北'
        }, {
            name: '广西'
        }, {
            name: '甘肃'
        }, {
            name: '山西'
        }, {
            name: '内蒙古'
        }, {
            name: '陕西'
        }, {
            name: '吉林'
        }, {
            name: '福建'
        }, {
            name: '贵州'
        }, {
            name: '广东'
        }, {
            name: '青海'
        }, {
            name: '西藏'
        }, {
            name: '四川'
        }, {
            name: '宁夏'
        }, {
            name: '海南'
        }, {
            name: '台湾'
        }, {
            name: '香港'
        }, {
            name: '澳门'
        }];


        //for (var i = 0; i < allData.length; i++) {
        //    allData[i].value = Math.round(Math.random() * 100);
        //}

        //给每个省份赋值，悬浮时显示的数值
        var allData = [
        {name: '北京', value: 35},
        {name: '天津', value: 82},
        {name: '上海', value: 12},
        {name: '重庆', value: 67},
        {name: '河北', value: 95},
        {name: '河南', value: 44},
        {name: '云南', value: 7},
        {name: '辽宁', value: 59},
        {name: '黑龙江', value: 28},
        {name: '湖南', value: 91},
        {name: '安徽', value: 18},
        {name: '山东', value: 73},
        {name: '新疆', value: 3},
        {name: '江苏', value: 51},
        {name: '浙江', value: 88},
        {name: '江西', value: 24},
        {name: '湖北', value: 62},
        {name: '广西', value: 49},
        {name: '甘肃', value: 99},
        {name: '山西', value: 5},
        {name: '内蒙古', value: 77},
        {name: '陕西', value: 31},
        {name: '吉林', value: 85},
        {name: '福建', value: 16},
        {name: '贵州', value: 70},
        {name: '广东', value: 41},
        {name: '青海', value: 6},
        {name: '西藏', value: 96},
        {name: '四川', value: 21},
        {name: '宁夏', value: 56},
        {name: '海南', value: 8},
        {name: '台湾', value: 64},
        {name: '香港', value: 100},
        {name: '澳门', value: 39}
        ];


        // 使用从 Flask 传来的 URL 初始化地图
        loadMap(chinaMapUrl, 'China');

        var timeFn = null;

        //单击切换到省级地图，当mapCode有值,说明可以切换到下级地图
        myChart.on('click', function(params) {
            clearTimeout(timeFn);
            //由于单击事件和双击事件冲突，故单击的响应事件延迟250毫秒执行
            timeFn = setTimeout(function() {
                var name = params.name; //地区name
                var mapCode = provinces[name]; //地区的json数据
                if (!mapCode) {
                    alert('No map displaying this area');
                    return;
                }

                loadMap(mapCode, name);

            }, 250);
        });


        // 绑定双击事件，返回全国地图
        myChart.on('dblclick', function(params) {
            //当双击事件发生时，清除单击事件，仅响应双击事件
            clearTimeout(timeFn);

            //返回全国地图
            loadMap(chinaMapUrl, 'china');
        });

        /**
         获取对应的json地图数据，然后向echarts注册该区域的地图，最后加载地图信息
         @params {String} mapCode:json数据的地址
         @params {String} name: 地图名称
         */
        function loadMap(mapCode, name) {
            $.get(mapCode, function(data) {
                if (data) {
                    echarts.registerMap(name, data);
                    var option = {
                    	    title: {
                    	        text: ' ',
                    	        subtext: ' ',
                    	        left: 'center'
                    	    },
                    	    toolbox: {
                    	        feature: {
                    	            dataView: {show: true, readOnly: false},
                    	            magicType: {show: true, type: ['line', 'map']},
                    	            restore: {show: true},
                    	            saveAsImage: {show: true}
                    	        }
                    	    },
                        tooltip: {
                            show: true,
                            formatter: function(params) {
                                if (params.data) return params.name + '：' + params.data['value']
                            },
                        },
                        visualMap: {
                            type: 'continuous',
                            text: ['', ''],
                            showLabel: true,
                            left: '50',
                            min: 0,
                            max: 100,
                            inRange: {
                                color: ['#edfbfb', '#b7d6f3', '#40a9ed', '#3598c1', '#215096', ]
                            },
                            splitNumber: 0
                        },
                        series: [{
                            name: 'MAP',
                            type: 'map',
                            mapType: name,
                            selectedMode: 'false',//是否允许选中多个区域
                            label: {
                                normal: {
                                    show: true
                                },
                                emphasis: {
                                    show: true
                                }
                            },
                            data: allData
                        }]
                    };
                    myChart.setOption(option);
                    // curMap = {
                    //     mapCode: mapCode,
                    //     mapName: name
                    // };
                } else {
                    alert('Unable to load the map');
                }
            });
        }
</script>
</body>
</html>
